<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.back.mapper.WatchHistoryMapper">
    <!--시청기록 저장-->
    <insert id="saveHistory">
        INSERT INTO WATCH_HISTORY_TBL (USER_ID, MOVIE_ID, TITLE, POSTER_PATH, GENRES)
        VALUES ( #{USER_ID}, #{MOVIE_ID}, #{TITLE}, #{POSTER_PATH}, #{GENRES} )

        ON DUPLICATE KEY UPDATE WATCH_DATE = CURRENT_TIMESTAMP
    </insert>

    <!--시청기록 목록-->
    <select id="historyList" resultType="com.example.back.entity.WatchHistoryEntity">
        SELECT * FROM WATCH_HISTORY_TBL
        WHERE USER_ID = #{USER_ID}
        ORDER BY WATCH_DATE DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!--시청기록 개수-->
    <select id="countList" resultType="int">
        SELECT COUNT(*) FROM WATCH_HISTORY_TBL WHERE USER_ID = #{USER_ID}
    </select>
</mapper>